Repository googleapis/python-datacatalog, pull requests merged in 2020-12, with the labels that each got.

#77 docs: update the upgrade guide to be from 1.0 to 3.0
  UPGRADING.md
Labels: api: datacatalog, automerge, cla: yes

#79 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: datacatalog, cla: yes, samples

#82 chore: reorder classes
  datacatalog-v1-py.tar.gz
  google/cloud/datacatalog_v1beta1/__init__.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: partial

#83 chore: update templates
  .coveragerc
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  docs/conf.py
  noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: datacatalog, automerge, cla: yes, context: partial

#87 fix: remove gRPC send/recv limit; add enums to `types/__init__.py`
  datacatalog-v1-py.tar.gz
  google/cloud/datacatalog_v1/services/data_catalog/transports/__init__.py
  google/cloud/datacatalog_v1/services/data_catalog/transports/grpc.py
  google/cloud/datacatalog_v1/services/data_catalog/transports/grpc_asyncio.py
  google/cloud/datacatalog_v1/types/__init__.py
  google/cloud/datacatalog_v1beta1/__init__.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/transports/__init__.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/transports/grpc.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/transports/grpc_asyncio.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/transports/__init__.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/transports/grpc.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/transports/grpc_asyncio.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/transports/__init__.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/transports/grpc.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/transports/grpc_asyncio.py
  google/cloud/datacatalog_v1beta1/types/__init__.py
  synth.metadata
  tests/unit/gapic/datacatalog_v1/test_data_catalog.py
  tests/unit/gapic/datacatalog_v1beta1/test_data_catalog.py
  tests/unit/gapic/datacatalog_v1beta1/test_policy_tag_manager.py
  tests/unit/gapic/datacatalog_v1beta1/test_policy_tag_manager_serialization.py
Labels: api: datacatalog, cla: yes, context: partial

#89 chore: reorder classes
  google/cloud/datacatalog_v1beta1/__init__.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: none
