Repository googleapis/python-datacatalog, pull requests merged in 2021-01, with the labels that each got.

#91 chore: add constraints file
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
Labels: api: datacatalog, cla: yes

#92 chore: sort class names
  google/cloud/datacatalog_v1beta1/__init__.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: none

#95 chore: use http in LICENSE to match official Apache file
  LICENSE
  docs/_static/custom.css
  google/cloud/datacatalog_v1beta1/__init__.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: partial

#97 test: skip docfx in main presubmit
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .trampolinerc
  google/cloud/datacatalog_v1beta1/__init__.py
  noxfile.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: partial

#99 chore: fix error in docs-presubmit config
  .kokoro/docs/docs-presubmit.cfg
  google/cloud/datacatalog_v1beta1/__init__.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: partial

#93 docs: document enum values with `undoc-members` option
  .coveragerc
  docs/datacatalog_v1/data_catalog.rst
  docs/datacatalog_v1/services.rst
  docs/datacatalog_v1/types.rst
  docs/datacatalog_v1beta1/data_catalog.rst
  docs/datacatalog_v1beta1/policy_tag_manager.rst
  docs/datacatalog_v1beta1/policy_tag_manager_serialization.rst
  docs/datacatalog_v1beta1/services.rst
  docs/datacatalog_v1beta1/types.rst
  google/cloud/datacatalog_v1/services/data_catalog/async_client.py
  google/cloud/datacatalog_v1/services/data_catalog/client.py
  google/cloud/datacatalog_v1/services/data_catalog/pagers.py
  google/cloud/datacatalog_v1/types/datacatalog.py
  google/cloud/datacatalog_v1/types/gcs_fileset_spec.py
  google/cloud/datacatalog_v1/types/schema.py
  google/cloud/datacatalog_v1/types/search.py
  google/cloud/datacatalog_v1/types/table_spec.py
  google/cloud/datacatalog_v1/types/tags.py
  google/cloud/datacatalog_v1/types/timestamps.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/async_client.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/client.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/pagers.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/async_client.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/client.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/pagers.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/async_client.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/client.py
  google/cloud/datacatalog_v1beta1/types/datacatalog.py
  google/cloud/datacatalog_v1beta1/types/gcs_fileset_spec.py
  google/cloud/datacatalog_v1beta1/types/policytagmanager.py
  google/cloud/datacatalog_v1beta1/types/policytagmanagerserialization.py
  google/cloud/datacatalog_v1beta1/types/schema.py
  google/cloud/datacatalog_v1beta1/types/search.py
  google/cloud/datacatalog_v1beta1/types/table_spec.py
  google/cloud/datacatalog_v1beta1/types/tags.py
  google/cloud/datacatalog_v1beta1/types/timestamps.py
  synth.metadata
  tests/unit/gapic/datacatalog_v1/test_data_catalog.py
  tests/unit/gapic/datacatalog_v1beta1/test_data_catalog.py
  tests/unit/gapic/datacatalog_v1beta1/test_policy_tag_manager.py
  tests/unit/gapic/datacatalog_v1beta1/test_policy_tag_manager_serialization.py
Labels: api: datacatalog, automerge, cla: yes, context: full

#101 chore: add 3.9 to noxfile template
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: datacatalog, automerge, cla: yes, context: full

#106 build: migrate to flakybot
  .kokoro/test-samples.sh
  .kokoro/trampoline_v2.sh
Labels: api: datacatalog, automerge, cla: yes
