Repository googleapis/python-datacatalog, pull requests merged in 2021-03, with the labels that each got.

#117 chore: clean up synth.py
  synth.py
Labels: api: datacatalog, automerge, cla: yes

#120 chore: update build templates
  .gitignore
  .kokoro/build.sh
  CONTRIBUTING.rst
  MANIFEST.in
  docs/UPGRADING.md
  noxfile.py
  renovate.json
  synth.metadata
Labels: api: datacatalog, automerge, cla: yes, context: partial

#119 chore: upgrade gapic-generator-python to 0.42.2
  google/cloud/datacatalog_v1/services/data_catalog/async_client.py
  google/cloud/datacatalog_v1/services/data_catalog/client.py
  google/cloud/datacatalog_v1/services/data_catalog/pagers.py
  google/cloud/datacatalog_v1/types/__init__.py
  google/cloud/datacatalog_v1beta1/__init__.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/async_client.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/client.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/pagers.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/async_client.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/client.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/pagers.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/async_client.py
  google/cloud/datacatalog_v1beta1/types/__init__.py
  synth.metadata
  tests/unit/gapic/datacatalog_v1/__init__.py
  tests/unit/gapic/datacatalog_v1/test_data_catalog.py
  tests/unit/gapic/datacatalog_v1beta1/__init__.py
  tests/unit/gapic/datacatalog_v1beta1/test_data_catalog.py
  tests/unit/gapic/datacatalog_v1beta1/test_policy_tag_manager.py
  tests/unit/gapic/datacatalog_v1beta1/test_policy_tag_manager_serialization.py
Labels: api: datacatalog, cla: yes, context: partial

#124 fix: use correct retry deadline
  google/cloud/datacatalog_v1/services/data_catalog/async_client.py
  google/cloud/datacatalog_v1/services/data_catalog/transports/base.py
  google/cloud/datacatalog_v1/services/data_catalog/transports/grpc.py
  google/cloud/datacatalog_v1/services/data_catalog/transports/grpc_asyncio.py
  google/cloud/datacatalog_v1beta1/__init__.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/async_client.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/transports/base.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/transports/grpc.py
  google/cloud/datacatalog_v1beta1/services/data_catalog/transports/grpc_asyncio.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/transports/base.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/transports/grpc.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager/transports/grpc_asyncio.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/transports/base.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/transports/grpc.py
  google/cloud/datacatalog_v1beta1/services/policy_tag_manager_serialization/transports/grpc_asyncio.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: partial

#128 chore: sort class names
  google/cloud/datacatalog_v1beta1/__init__.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: full

#127 chore: updates to pycqa/flake8, coverage
  .pre-commit-config.yaml
  noxfile.py
  setup.py
  synth.metadata
  testing/constraints-3.6.txt
Labels: api: datacatalog, automerge, cla: yes, context: partial
