Repository googleapis/python-datacatalog, pull requests merged in 2021-04, with the labels that each got.

#136 chore: add license headers
  .pre-commit-config.yaml
  docs/conf.py
  google/cloud/datacatalog_v1beta1/__init__.py
  synth.metadata
Labels: api: datacatalog, automerge, cla: yes, context: partial

#137 chore: add constraints file check for python samples
  .github/header-checker-lint.yml
  google/cloud/datacatalog_v1beta1/__init__.py
  renovate.json
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: partial

#140 ci: use secret manager for PyPI token
  .kokoro/release.sh
  .kokoro/release/common.cfg
  docs/_static/custom.css
  google/cloud/datacatalog_v1beta1/__init__.py
  synth.metadata
Labels: api: datacatalog, cla: yes, context: partial

#141 chore: prevent normalization of semver versioning
  setup.py
Labels: api: datacatalog, cla: yes

#145 chore: migrate to owl bot
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  google/cloud/datacatalog_v1beta1/__init__.py
  owlbot.py
  synth.metadata
Labels: api: datacatalog, automerge, cla: yes

#144 chore(revert): revert preventing normalization
  setup.py
Labels: api: datacatalog, automerge, cla: yes
